$color-black: black;
$color-white: white;
$color-yellow: yellow;
$font-base: 'Montserrat', sans-serif;


* {
  box-sizing: border-box;
  background-color: $color-black;
}

.containter{
  height: auto;
  overflow: hidden;
}
  
.navbar {
  height: auto;
  border-bottom: 1px solid $color-white;
  position: fixed;
  width:100%;
  display: flex;
  align-items: center;
  img {
    width: 6em;
    z-index: 1;
  }
}

.menu{
  width:100%;
  position:absolute;
  ul {
    color: $color-white;
    list-style: none;
    width:400px;
    display: flex;
    position:relative;
    float:right;
    text-align: center;
    font-size: 1.2em;
    li {
      flex-grow: 1;
      font-family: $font-base;
      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}

.menu ul li a:hover {
  font-weight: 700;
  cursor: pointer;
  color: $color-yellow;
}

.l1 {
  height: 100vh;
  border-bottom: 1px solid $color-white;
  display: flex;
  align-items: end;
  h1 {
    font-size: 400px;
    color: $color-white;
    font-family: $font-base;
    font-weight: 700;
  }
}

.col1 {
  height: 100vh;
  width: 50%;
  float: left;
  display: flex;
  align-items: end;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  h2 {
    padding: 0 0 20px 20px;
    font-family: $font-base;
    font-size: 80px;
    color: $color-white;
  }
}

.col2 {
  height: 100vh;
  width: 50%;
  background-color: $color-black;
  display: flex;
  align-items: end;
  border-bottom: 1px solid white;
  p {
    color: $color-white;
    font-family: $font-base;
    line-height: 1.3em;
    font-size: 20px;
    margin: 30px;
  }
  .panel {
    padding-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: toggle 2s;
    width:100%;
  }
  button {
    border: 1px solid white;
    background-color: $color-black;
    font-family: $font-base;
    color: $color-white;
    font-size: 20px;
    width: 200px;
    height: 70px;
    border-radius: 50px;
  }
}

.panel.active {
  max-height: 100vh;
  overflow: visible;
}

@media (max-width:992px){
  .col1{
    width:100%;
    h2{
      font-size: 70px;
    }
  }
  .col2{
    width:100%;
    .panel{
      transform: translate(-200px, -100px);
    }
    button{
      width: 150px;
      font-size: 18px;
      height: 50px;
      &:hover{
        font-size:20px;
      }
    }
  }
}

.col2 button:hover {
  cursor: pointer;
  border: 2px solid $color-yellow;
  color: $color-yellow;
  font-size: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}

.card {
  width: 300px;
  margin: 20px;
  border: 1px solid $color-white;
  &:hover{
    border:3px solid $color-yellow;
    cursor: pointer; 
  }
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
  h2 {
    margin-top: 0;
    color: $color-white;
    font-family: $font-base;
    text-align: center;
    font-size:1.2em;
  }
}

.card-content h2:hover{
  color: $color-yellow;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column; /* Cambia direzione flessibile a colonna */
    align-items: center;
  } 
  .card {
    width: calc(100% - 40px);
  }
}

.titpro{
  width:100%;
  h2 {
  font-family: $font-base;
  font-size: 80px;
  color: white;
  padding: 50px 20px 50px 20px;
  display: flex;
  justify-content:left;
  align-items: end;
  }
}

@media (max-width: 768px) {
  .navbar img{
    width: 5em;
  }
  .menu ul {
    font-size: 1em;
    width: 300px;
  }
  .menu ul li{
    flex-grow: 0.5;
  }
  .l1 h1 {
    font-size: 300px;
  }
  .l2 h2{
    font-size: 60px;
  }
}

/* # sourceMappingURL=style.css.map */

/*.l3{
  background-color: $color-black;
  height:90vh;
  float:left;
  width:100%;
  padding-top:560px;
  a{
    text-decoration: none;
    color: $color-white;
    font-family: $font-base;
    font-size:80px;
    padding-left:20px;
  }
}

#counter {
  font-size: 80px;
  font-weight: bold;
  font-family: $font-base;
  border: 3px solid $color-yellow;
  color: $color-yellow;
  padding: 0.4em;
  width:150px;
  height:150px;
  border-radius: 100%;
  margin-left:700px;
  text-align: center;
  margin-top:-130px;
}
*/